<mat-card class="analyzer-card">
  <mat-card-header>
    <mat-card-title>تحلیل سبک تربیتی والدین</mat-card-title>
    <mat-card-subtitle>به هر سؤال نمره‌ای بین ۱ تا ۱۰ بدهید</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form">
      <div class="questions-list" >
        <div  *ngFor="let q of questions" class="question-row">
          <label>{{q.label}}</label>
          <br>
          <div style="display: flex; align-items: center;">
             <span style="width: 80px; text-align: center;">{{ q.maxLabel }}</span>
              <mat-slider
                min="1"
                max="10"
                step="1"
                showTickMarks
                discrete
                thumbLabel
                tickInterval="1"
                >
                  <input matSliderThumb [formControlName]="q.key">

              </mat-slider>
            <span style="width: 80px; text-align: center;">{{ q.minLabel }}</span>
          </div>
          <!-- <div class="error" *ngIf="submitted && form.get(q.key)?.invalid">
            مقدار باید بین ۱ تا ۱۰ باشد
          </div> -->
        </div>
      </div>
    </form>

    <div *ngIf="result" class="result-section">
      <mat-divider></mat-divider>
      <h3>نتیجه تحلیل:</h3>
      <pre class="report-text">{{ result.report }}</pre>
      <div class="scores-table">
        <table>
          <tr>
            <th>سبک</th>
            <th>امتیاز</th>
          </tr>
          <tr *ngFor="let style of result.dominantStyles">
            <td>{{ analyzeParentingStylesName[style] }}</td>
            <td>{{ result.scores[style] | number:'1.1-2' }}</td>
          </tr>
        </table>
      </div>
    </div>
  </mat-card-content>
</mat-card>
